@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
/* font-family: 'Do Hyeon', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
/* font-family: 'Indie Flower', cursive; */

body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/davpublicschoolkoylanagar.appspot.com/o/LOGO.png?alt=media&token=d1e14f0b-570e-48cd-9520-8abf5a57cfd2);
}

#user_pic {
    border-radius: 5px;
    align: "center";
    top: 50%;
    left: 0;
    right: 0;
    bottom: 90%;
}

.google_login {
    background: red;
}

input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.main-div  {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: none;
}

.loggedin-div {
    font-family: 'Nunito', sans-serif;
    display: none;
}

.main-div input {
    display: block;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.main-div input:focus {
    border: 1px solid #777;
}

.main-div button {
    background: #5d8ffc;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
    background: #fff;
    color: #5d8ffc;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}
.dav_heading{
    font-family: 'Do Hyeon', sans-serif;
}

.logout-main {
    background: #5d8ffc;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 30%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
in-buttons-a {
    color: #5d8ffc;
    background: fff;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 0px;
    display: block;
}
a, a:link, a:hover, a:visited {
    text-decoration: none;
    color: #5d8ffc;
    background: fff;
}